body {
    background: rgb(135,134,147);
    background: linear-gradient(90deg, rgba(135,134,147,1) 0%, rgba(208,208,235,1) 61%, rgba(145,161,164,1) 100%);


    
}



.image1 {
    position: absolute;
    width: 550px;
    height: 370px;
    
    border-radius: 50%;
    


    }
    .photo {
        position: absolute;
        
        width: 550px;
        height: 370px;
        left: 20px;
        top: 600px;
        border-radius: 50%;
        background: linear-gradient(0deg, #000, #272727);
    }
    
    .photo:before, .photo:after {
        content: '';
        position: absolute;
        left: -2px;
        top: -2px;
        background: linear-gradient(45deg, #a05bff, #0000ff, #a05bff);
        background-size: 400%;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        border-radius: 50%;
        z-index: -1;
        animation: steam 20s linear infinite;
    }
    
    @keyframes steam {
        0% {
            background-position: 0 0;
        }
        50% {
            background-position: 400% 0;
        }
        100% {
            background-position: 0 0;
        }
    }
    
    .photo:after {
        filter: blur(50px);
    }


    .pres {
        color: white;
    }
    






.image2 {
    position: absolute;
    width: 700px;
    height: 370px;

    
    border-radius: 50%;


    }
    .photo1 {
        position: absolute;
        
        width: 700px;
        height: 370px;
        right: 20px;
        top: 1010px;
        border-radius: 50%;
        background: linear-gradient(0deg, #000, #272727);
    }
    
    .photo1:before, .photo1:after {
        content: '';
        position: absolute;
        left: -2px;
        top: -2px;
        background: linear-gradient(45deg, #a05bff, #0000ff, #a05bff);
        background-size: 400%;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        border-radius: 50%;
        z-index: -1;
        animation: steam 20s linear infinite;
    }
    
    @keyframes steam {
        0% {
            background-position: 0 0;
        }
        50% {
            background-position: 400% 0;
        }
        100% {
            background-position: 0 0;
        }
    }
    
    .photo1:after {
        filter: blur(50px);
    }


    .pres {
        color: white;
    }
    

.image3 {
    position: absolute;
    width: 700px;
    height: 370px;
    
    border-radius: 50%;
    }
    .photo2 {
        position: absolute;
        
        width: 700px;
        height: 370px;
        left: 20px;
        top: 1420px;
        border-radius: 50%;
        background: linear-gradient(0deg, #000, #272727);
    }
    
    .photo2:before, .photo2:after {
        content: '';
        position: absolute;
        left: -2px;
        top: -2px;
        background: linear-gradient(45deg, #a05bff, #0000ff, #a05bff);
        background-size: 400%;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        border-radius: 50%;
        z-index: -1;
        animation: steam 20s linear infinite;
    }
    
    @keyframes steam {
        0% {
            background-position: 0 0;
        }
        50% {
            background-position: 400% 0;
        }
        100% {
            background-position: 0 0;
        }
    }
    
    .photo2:after {
        filter: blur(50px);
    }


    .pres {
        color: white;
    }

.titre {
    color:white;
    text-align: center;
    font-size: 50;
    
}

.txt1 {
    position: absolute;
    color: blue;
    
    top: 775px;
    left: 590px;

}

.politique {
    position: absolute;
    color: blue;
    
    top: 1185px;
    right: 740px;
    
}

.techno {
    position: absolute;
    color:blue ;
    top: 1595px;
    left: 740px;
}

.qui {
    color: blue;
    margin-left: 20px;
    font-size: 40;
    text-align: center;

}


















